[user]
	name = phuongthuan
	email = 20045189+phuongthuan@users.noreply.github.com
[http]
	postBuffer = 524288000
	sslVerify = false
[credential]
	helper = osxkeychain
[core]
	compression = 0
	editor = /usr/bin/vim
	fsmonitor = true
	untrackedcache = true
[pull]
	rebase = false
[url "git@github.com:Thinkei"]
	insteadOf = https://github.com/Thinkei
